Repository mike-north/boba-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "*.{ts,mts,cts}": ["eslint --fix --cache"],
  "*.{js,ts,json,md,mts,cts,mjs,cjs}": ["prettier --write"],
  "*.md": ["markdownlint-cli2 --fix"]
}

fix(progress): preserve animation when setPercent called repeatedly
  .changeset/fix-progress-animation.md
  CLAUDE.md
  packages/progress/src/model.ts
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

test(progress): add test for setPercent during active animation
  packages/progress/test/progress.test.ts
Due: eslint --fix --cache, prettier --write

fix(progress): preserve animation when setPercent called repeatedly (#56)
  .changeset/fix-progress-animation.md
  CLAUDE.md
  packages/progress/src/model.ts
  packages/progress/test/progress.test.ts
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

Update examples/src/spinner/index.ts
  examples/src/spinner/index.ts
Due: eslint --fix --cache, prettier --write

Update examples/src/textinput/index.ts
  examples/src/textinput/index.ts
Due: eslint --fix --cache, prettier --write

docs: position DSL as main API, rename examples accordingly (#58)
  CLAUDE.md
  README.md
  demo-website/src/shared/registry.ts
  examples/package.json
  examples/src/list-fancy/cli.ts
  examples/src/list-fancy/index.ts
  examples/src/spinner-dsl/example.tape
  examples/src/spinner-dsl/index.ts
  examples/src/spinner-low-level/cli.ts
  examples/src/spinner-low-level/example.tape
  examples/src/spinner-low-level/index.ts
  examples/src/spinner/example.tape
  examples/src/spinner/index.ts
  examples/src/textinput-dsl/example.tape
  examples/src/textinput-dsl/index.ts
  examples/src/textinput-low-level/cli.ts
  examples/src/textinput-low-level/example.tape
  examples/src/textinput-low-level/index.ts
  examples/src/textinput/example.tape
  examples/src/textinput/index.ts
  packages/dsl/README.md
  packages/list/README.md
  packages/progress/README.md
  packages/spinner/README.md
  packages/tea/README.md
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

fix(husky): add Husky v10-compatible git hooks (#59)
  .husky/commit-msg
  .husky/pre-commit
Due: none
