Repository mike-north/boba-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "*.{ts,mts,cts}": ["eslint --fix --cache"],
  "*.{js,ts,json,md,mts,cts,mjs,cjs}": ["prettier --write"],
  "*.md": ["markdownlint-cli2 --fix"]
}

chore: animated gif optimization for docs (#18)
  README.md
  examples/filepicker-demo.gif
  examples/filepicker-demo.tape
  examples/help-demo.gif
  examples/help-demo.tape
  examples/list-demo.gif
  examples/list-demo.tape
  examples/paginator-demo.gif
  examples/paginator-demo.tape
  examples/progress-demo.gif
  examples/progress-demo.tape
  examples/spinner-demo.gif
  examples/spinner-demo.tape
  examples/stopwatch-demo.gif
  examples/stopwatch-demo.tape
  examples/table-demo.gif
  examples/table-demo.tape
  examples/textarea-demo.gif
  examples/textarea-demo.tape
  examples/textinput-demo.gif
  examples/textinput-demo.tape
  examples/timer-demo.gif
  examples/timer-demo.tape
  examples/viewport-demo.gif
  examples/viewport-demo.tape
  packages/filepicker/README.md
  packages/help/README.md
  packages/list/README.md
  packages/paginator/README.md
  packages/progress/README.md
  packages/spinner/README.md
  packages/stopwatch/README.md
  packages/table/README.md
  packages/textarea/README.md
  packages/textinput/README.md
  packages/timer/README.md
  packages/viewport/README.md
  scripts/generate-assets.mts
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

Port icons utility package from teacup (#15)
  api-reports/icons.api.md
  packages/icons/README.md
  packages/icons/api-extractor.json
  packages/icons/package.json
  packages/icons/src/directories.ts
  packages/icons/src/extensions.ts
  packages/icons/src/filenames.ts
  packages/icons/src/glyphs.ts
  packages/icons/src/icons.ts
  packages/icons/src/index.ts
  packages/icons/src/sub-extensions.ts
  packages/icons/src/types.ts
  packages/icons/test/icons.test.ts
  packages/icons/test/tsconfig.json
  packages/icons/tsconfig.json
  packages/icons/vitest.config.mts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

Port filesystem utility package from teacup to TypeScript (#14)
  api-reports/filesystem.api.md
  packages/filesystem/README.md
  packages/filesystem/api-extractor.json
  packages/filesystem/package.json
  packages/filesystem/src/filesystem.ts
  packages/filesystem/src/index.ts
  packages/filesystem/test/filesystem.test.ts
  packages/filesystem/tsconfig.json
  packages/filesystem/vitest.config.mts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

Configure automated release PRs via changesets (#27)
  .changeset/config.json
  .github/workflows/release.yml
Due: prettier --write

fix: remove unused cli-highlight dependency from markdown package
  packages/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

Port markdown viewer component from teacup (#24)
  .changeset/add-markdown-package.md
  api-reports/markdown.api.md
  examples/markdown-demo.tape
  examples/markdown-demo.ts
  examples/package.json
  packages/markdown/README.md
  packages/markdown/api-extractor.json
  packages/markdown/package.json
  packages/markdown/src/index.ts
  packages/markdown/src/marked-terminal.d.ts
  packages/markdown/src/messages.ts
  packages/markdown/src/model.ts
  packages/markdown/src/renderer.ts
  packages/markdown/test/model.test.ts
  packages/markdown/test/renderer.test.ts
  packages/markdown/tsconfig.json
  packages/markdown/vitest.config.mts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

Add HelpBubble component with viewport-based scrollable help screen
  api-reports/help.api.md
  examples/help-bubble-demo.ts
  packages/help/package.json
  packages/help/src/bubble-types.ts
  packages/help/src/bubble.ts
  packages/help/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

Address code review feedback: fix API report and test encapsulation
  api-reports/help.api.md
  packages/help/test/help.test.ts
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

docs: add JSDoc comments to HelpBubble public properties
  api-reports/help.api.md
  packages/help/src/bubble.ts
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

chore: mark api-reports and docs as generated in .gitattributes
  .gitattributes
Due: none

chore: update readmes and gifs for new commands
  examples/help-bubble-demo.gif
  examples/help-bubble-demo.tape
  examples/help-bubble-demo.ts
  examples/markdown-demo.gif
  examples/markdown-demo.tape
  packages/help/README.md
  packages/help/src/bubble.ts
  packages/markdown/README.md
  packages/markdown/src/model.ts
  scripts/generate-assets.mts
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

chore: new demo gifs for new components
  api-reports/list.api.md
  api-reports/tea.api.md
  examples/code-demo.gif
  examples/code-demo.tape
  examples/filepicker-demo.gif
  examples/help-bubble-demo.gif
  examples/help-demo.gif
  examples/icons-demo.gif
  examples/icons-demo.tape
  examples/icons-demo.ts
  examples/list-demo.gif
  examples/markdown-demo.gif
  examples/package.json
  examples/paginator-demo.gif
  examples/progress-demo.gif
  examples/spinner-demo.gif
  examples/statusbar-demo.gif
  examples/stopwatch-demo.gif
  examples/table-demo.gif
  examples/textarea-demo.gif
  examples/textinput-demo.gif
  examples/timer-demo.gif
  examples/viewport-demo.gif
  packages/code/README.md
  packages/code/src/model.ts
  packages/icons/README.md
  packages/icons/package.json
  pnpm-lock.yaml
  scripts/generate-assets.mts
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

fix: revert unintended formatting changes to generated API reports
  api-reports/list.api.md
  api-reports/tea.api.md
Due: prettier --write, markdownlint-cli2 --fix

chore: update demo gifs (#30)
  examples/code-demo.gif
  examples/code-demo.tape
  examples/filepicker-demo.gif
  examples/help-bubble-demo.gif
  examples/help-bubble-demo.tape
  examples/help-bubble-demo.ts
  examples/help-demo.gif
  examples/icons-demo.gif
  examples/icons-demo.tape
  examples/icons-demo.ts
  examples/list-demo.gif
  examples/markdown-demo.gif
  examples/markdown-demo.tape
  examples/package.json
  examples/paginator-demo.gif
  examples/progress-demo.gif
  examples/spinner-demo.gif
  examples/statusbar-demo.gif
  examples/stopwatch-demo.gif
  examples/table-demo.gif
  examples/textarea-demo.gif
  examples/textinput-demo.gif
  examples/timer-demo.gif
  examples/viewport-demo.gif
  packages/code/README.md
  packages/code/src/model.ts
  packages/help/README.md
  packages/help/src/bubble.ts
  packages/icons/README.md
  packages/icons/package.json
  packages/markdown/README.md
  packages/markdown/src/model.ts
  packages/markdown/test/model.test.ts
  pnpm-lock.yaml
  scripts/generate-assets.mts
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

missing changesets (#31)
  .changeset/chapstick-style-provider.md
  .changeset/fix-viewport-scrolling.md
Due: prettier --write, markdownlint-cli2 --fix

feat: add @suds-cli/machine package for platform abstraction
  packages/machine/README.md
  packages/machine/package.json
  packages/machine/src/browser/clipboard.ts
  packages/machine/src/browser/environment.ts
  packages/machine/src/browser/index.ts
  packages/machine/src/browser/signals.ts
  packages/machine/src/browser/terminal.ts
  packages/machine/src/bytes.ts
  packages/machine/src/index.ts
  packages/machine/src/node/clipboard.ts
  packages/machine/src/node/environment.ts
  packages/machine/src/node/index.ts
  packages/machine/src/node/signals.ts
  packages/machine/src/node/terminal.ts
  packages/machine/src/sequences.ts
  packages/machine/src/types.ts
  packages/machine/test/bytes.test.ts
  packages/machine/test/sequences.test.ts
  packages/machine/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

chore: tests for node functionality
  packages/machine/test/node/clipboard.test.ts
  packages/machine/test/node/environment.test.ts
  packages/machine/test/node/index.test.ts
  packages/machine/test/node/signals.test.ts
  packages/machine/test/node/terminal.test.ts
Due: eslint --fix --cache, prettier --write

Add two-stage CI workflow for clipboard graceful degradation testing
  .github/workflows/ci.yml
  packages/machine/package.json
  packages/machine/test/node/clipboard.test.ts
Due: eslint --fix --cache, prettier --write

Add browser environment testing with happy-dom
  .github/workflows/ci.yml
  packages/machine/package.json
  packages/machine/test/browser/clipboard.test.ts
  packages/machine/test/browser/environment.test.ts
  packages/machine/test/browser/index.test.ts
  packages/machine/test/browser/signals.test.ts
  packages/machine/test/browser/terminal.test.ts
  packages/machine/vitest.config.mts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

Fix type error in vitest config for environmentMatchGlobs
  packages/machine/vitest.config.mts
Due: eslint --fix --cache, prettier --write

chore(machine): fix nx build loop
  knip.json
  nx.json
  package.json
Due: prettier --write

feat(machine): new 'machine' package to abstract runtime away from the rest of the public packages
  .changeset/add-machine-package.md
Due: prettier --write, markdownlint-cli2 --fix

feat(machine): new 'machine' package to abstract runtime away from the rest of the public packages (#33)
  .changeset/add-machine-package.md
Due: prettier --write, markdownlint-cli2 --fix

chore: lint fixes
  examples/code-demo.ts
  examples/filepicker-demo.ts
  examples/help-demo.ts
  examples/list-demo.ts
  examples/markdown-demo.ts
  examples/paginator-demo.ts
  examples/progress-demo.ts
  examples/spinner-demo.ts
  examples/statusbar-demo.ts
  examples/stopwatch-demo.ts
  examples/table-demo.ts
  examples/textarea-demo.ts
  examples/textinput-demo.ts
  examples/timer-demo.ts
  examples/viewport-demo.ts
  package.json
  packages/icons/package.json
  packages/list/package.json
Due: eslint --fix --cache, prettier --write

Implement filetree component with full functionality
  examples/filetree-demo.ts
  packages/filetree/README.md
  packages/filetree/package.json
  packages/filetree/src/fs.ts
  packages/filetree/src/index.ts
  packages/filetree/src/keymap.ts
  packages/filetree/src/messages.ts
  packages/filetree/src/styles.ts
  packages/filetree/src/types.ts
  packages/filetree/vitest.config.mts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

Update pnpm-lock.yaml after removing unused dependencies
  pnpm-lock.yaml
Due: none

chore: update docs
  api-reports/filetree.api.md
  docs/filetree.filetreemodel.md
  docs/filetree.filetreemodel.new.md
  docs/filetree.filetreeoptions.md
  docs/filetree.getdirectorylistingcmd.md
  docs/filetree.md
  examples/filetree-demo.ts
  examples/package.json
  packages/filetree/README.md
  packages/filetree/package.json
  packages/filetree/src/fs.ts
  packages/filetree/src/index.ts
  packages/filetree/src/keymap.ts
  packages/filetree/src/messages.ts
  packages/filetree/src/styles.ts
  packages/filetree/src/types.ts
  packages/filetree/vitest.config.mts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

Simplify init() return type to match component pattern
  packages/filetree/src/model.ts
Due: eslint --fix --cache, prettier --write

chore: update pnpm-lock.yaml after rebase
  pnpm-lock.yaml
Due: none

refactor(filetree): use machine adapters instead of direct Node.js APIs
  examples/filetree-demo.ts
  packages/filetree/package.json
  packages/filetree/src/fs.ts
  packages/filetree/src/model.ts
  packages/filetree/test/filetree.test.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write
