Repository mike-north/boba-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "*.{ts,mts,cts}": ["eslint --fix --cache"],
  "*.{js,ts,json,md,mts,cts,mjs,cjs}": ["prettier --write"],
  "*.md": ["markdownlint-cli2 --fix"]
}

fix: add exports fields to packages for TypeScript NodeNext resolution
  examples/tsconfig.json
  packages/chapstick/package.json
  packages/code/package.json
  packages/cursor/package.json
  packages/filepicker/package.json
  packages/filetree/package.json
  packages/help/package.json
  packages/key/package.json
  packages/markdown/package.json
  packages/paginator/package.json
  packages/progress/package.json
  packages/runeutil/package.json
  packages/spinner/package.json
  packages/statusbar/package.json
  packages/stopwatch/package.json
  packages/table/package.json
  packages/tea/package.json
  packages/textarea/package.json
  packages/textinput/package.json
  packages/timer/package.json
  packages/viewport/package.json
Due: prettier --write

Port filetree component from teacup to TypeScript (#21)
  api-reports/filetree.api.md
  docs/filetree.filetreemodel.filesystem.md
  docs/filetree.filetreemodel.init.md
  docs/filetree.filetreemodel.md
  docs/filetree.filetreeoptions.filesystem.md
  docs/filetree.filetreeoptions.md
  docs/filetree.getdirectorylistingcmd.md
  examples/filetree-demo.ts
  examples/package.json
  examples/tsconfig.json
  packages/chapstick/package.json
  packages/code/package.json
  packages/cursor/package.json
  packages/filepicker/package.json
  packages/filetree/package.json
  packages/filetree/src/fs.ts
  packages/filetree/src/model.ts
  packages/filetree/test/filetree.test.ts
  packages/help/package.json
  packages/key/package.json
  packages/markdown/package.json
  packages/paginator/package.json
  packages/progress/package.json
  packages/runeutil/package.json
  packages/spinner/package.json
  packages/statusbar/package.json
  packages/stopwatch/package.json
  packages/table/package.json
  packages/tea/package.json
  packages/textarea/package.json
  packages/textinput/package.json
  packages/timer/package.json
  packages/viewport/package.json
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

chore: gha release job doesn't start until all testing passes
  .github/workflows/ci.yml
Due: none

chore: respond to PR feedback
  demo-website/src/browser-style.ts
  examples/package.json
Due: eslint --fix --cache, prettier --write

chore: address PR review feedback
  packages/dsl/src/app-builder.ts
  packages/machine/src/browser/terminal.ts
Due: eslint --fix --cache, prettier --write

fix(demo-website): fix terminal line breaks and color support
  demo-website/src/browser-style.ts
Due: eslint --fix --cache, prettier --write

feat: deprecation of @suds-cli/*
  .changeset/add-machine-package.md
  packages/chapstick/README.md
  packages/code/README.md
  packages/cursor/README.md
  packages/dsl/README.md
  packages/filepicker/README.md
  packages/filesystem/README.md
  packages/filetree/README.md
  packages/help/README.md
  packages/icons/README.md
  packages/key/README.md
  packages/list/README.md
  packages/machine/README.md
  packages/markdown/README.md
  packages/paginator/README.md
  packages/progress/README.md
  packages/runeutil/README.md
  packages/spinner/README.md
  packages/statusbar/README.md
  packages/stopwatch/README.md
  packages/table/README.md
  packages/tea/README.md
  packages/textarea/README.md
  packages/textinput/README.md
  packages/timer/README.md
  packages/viewport/README.md
Due: prettier --write, markdownlint-cli2 --fix

chore: changeset for package rename
  .changeset/deprecate-suds-cli-packages.md
Due: prettier --write, markdownlint-cli2 --fix

feat(demo-website): add interactive demo site with xterm.js
  demo-website/index.html
  demo-website/package.json
  demo-website/src/browser-style.ts
  demo-website/src/demos/list.ts
  demo-website/src/demos/progress.ts
  demo-website/src/demos/spinner.ts
  demo-website/src/main.ts
  demo-website/src/styles/main.css
  packages/machine/src/browser/terminal.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

feat(dsl): add declarative builder API for CLI applications
  packages/dsl/src/app-builder.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

chore: respond to PR feedback
  demo-website/src/browser-style.ts
Due: eslint --fix --cache, prettier --write

chore: fix knip errors
  demo-website/src/browser-style.ts
  demo-website/src/demos/list.ts
  demo-website/src/demos/progress.ts
  demo-website/src/demos/spinner.ts
  demo-website/src/shared/registry.ts
  demo-website/src/shared/types.ts
  demo-website/src/shell.ts
Due: eslint --fix --cache, prettier --write

feat(demo-website): add interactive demo site with xterm.js
  demo-website/index.html
  demo-website/package.json
  demo-website/src/browser-style.ts
  demo-website/src/demos/list.ts
  demo-website/src/demos/progress.ts
  demo-website/src/demos/spinner.ts
  demo-website/src/main.ts
  demo-website/src/styles/main.css
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

chore: respond to PR feedback
  demo-website/src/browser-style.ts
  knip.json
Due: eslint --fix --cache, prettier --write

feat(demo-website): add interactive shell for running demos
  demo-website/index.html
  demo-website/package.json
  demo-website/src/main.ts
  demo-website/src/shared/registry.ts
  demo-website/src/shared/types.ts
  demo-website/src/shell.ts
  demo-website/src/styles/main.css
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

a few last fixes for the suds->boba rename (#46)
  knip.json
  packages/boba-cli/package.json
Due: prettier --write

chore: core package
  .agent/plans/rename-to-boba-cli.plan.md
  .changeset/add-core-package.md
  commitlint.config.cjs
  examples/code-demo.ts
  examples/filepicker-demo.ts
  examples/filetree-demo.ts
  examples/help-demo.ts
  examples/icons-demo.ts
  examples/list-demo.ts
  examples/markdown-demo.ts
  examples/paginator-demo.ts
  examples/progress-demo.ts
  examples/spinner-demo-dsl.ts
  examples/spinner-demo.ts
  examples/table-demo.ts
  examples/textarea-demo.ts
  examples/textinput-demo-dsl.ts
  examples/textinput-demo.ts
  examples/viewport-demo.ts
  packages/chapstick/src/colors.ts
  packages/chapstick/src/index.ts
  packages/chapstick/src/style.ts
  packages/core/package.json
  packages/core/src/detect.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
  packages/core/test/detect.test.ts
  packages/core/tsconfig.json
  packages/core/tsup.config.ts
  packages/dsl/README.md
  packages/machine/package.json
  packages/machine/src/types.ts
  packages/progress/src/model.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

fix: address PR review feedback
  .agent/plans/rename-to-boba-cli.plan.md
  commitlint.config.cjs
  packages/core/test/detect.test.ts
  scripts/generate-assets.mts
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

chore: core package
  .agent/plans/rename-to-boba-cli.plan.md
  commitlint.config.cjs
  examples/src/spinner-dsl/index.ts
  packages/core/test/detect.test.ts
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

fix(demo-site): more examples
  demo-website/package.json
  demo-website/src/main.ts
  demo-website/src/process-polyfill.ts
  demo-website/src/shared/list-demo.ts
  demo-website/src/shared/progress-demo.ts
  demo-website/src/shared/registry.ts
  demo-website/src/shared/spinner-demo.ts
  demo-website/src/shared/stopwatch-demo.ts
  demo-website/src/shared/table-demo.ts
  demo-website/src/shared/timer-demo.ts
  demo-website/src/shell.ts
  demo-website/src/simple-fs-adapter.ts
  demo-website/src/stubs/supports-color.ts
  demo-website/vite.config.ts
  examples/tsconfig.json
  knip.json
  packages/machine/src/browser/index.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

fix(demo-site): more examples (#50)
  demo-website/package.json
  demo-website/src/main.ts
  demo-website/src/process-polyfill.ts
  demo-website/src/shared/list-demo.ts
  demo-website/src/shared/progress-demo.ts
  demo-website/src/shared/registry.ts
  demo-website/src/shared/spinner-demo.ts
  demo-website/src/shared/stopwatch-demo.ts
  demo-website/src/shared/table-demo.ts
  demo-website/src/shared/timer-demo.ts
  demo-website/src/shell.ts
  demo-website/src/simple-fs-adapter.ts
  demo-website/src/stubs/supports-color.ts
  demo-website/vite.config.ts
  examples/tsconfig.json
  knip.json
  packages/machine/src/browser/index.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write

feat(dsl, examples): add package-manager example with onInit/onMessage support
  examples/package.json
  examples/src/package-manager/cli.ts
  examples/src/package-manager/example.tape
  examples/src/package-manager/index.ts
  packages/dsl/src/app-builder.ts
  packages/dsl/src/index.ts
  packages/dsl/src/types.ts
Due: eslint --fix --cache, prettier --write

fix(dsl): resolve unresolved @link references in TSDoc
  api-reports/dsl.api.md
  docs/dsl.appbuilder.md
  docs/dsl.appbuilder.oninit.md
  docs/dsl.appbuilder.onmessage.md
  docs/dsl.initcontext.md
  docs/dsl.initcontext.schedule.md
  docs/dsl.initcontext.sendtocomponent.md
  docs/dsl.initcontext.state.md
  docs/dsl.inithandler.md
  docs/dsl.md
  docs/dsl.messagecontext.components.md
  docs/dsl.messagecontext.md
  docs/dsl.messagecontext.msg.md
  docs/dsl.messagecontext.quit.md
  docs/dsl.messagecontext.schedule.md
  docs/dsl.messagecontext.sendtocomponent.md
  docs/dsl.messagecontext.setstate.md
  docs/dsl.messagecontext.state.md
  docs/dsl.messagecontext.update.md
  docs/dsl.messagehandler.md
  packages/dsl/src/app-builder.ts
  packages/dsl/src/types.ts
Due: eslint --fix --cache, prettier --write, markdownlint-cli2 --fix

feat(examples, dsl): add list-fancy-dsl example
  examples/package.json
  examples/src/list-fancy-dsl/cli.ts
  examples/src/list-fancy-dsl/index.ts
  packages/dsl/src/components/list.ts
  packages/dsl/src/index.ts
Due: eslint --fix --cache, prettier --write

fix(list): add vertical line decoration to list items
  examples/src/list-fancy-dsl/index.ts
  packages/list/src/model.ts
Due: eslint --fix --cache, prettier --write
